
.faq-page {
  padding: 16px;
  box-sizing: border-box;
}

.faq-item {
  margin-top: 16px;
  width: 80%;
  border: 1pt solid black;
  text-align: center;
  margin: auto auto;
  margin-bottom: 2%;

}

.faq-step{
  padding: 2%;
}

.faq-image{
  width: 80%;
  border: 1pt solid black;
  margin: 2%;
}

mat-expansion-panel {
  margin-bottom: 26px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
