<div class="faq-page">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>User Configuration</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <img src="path-to-image" alt="User Configuration Image" />
      <p>Placeholder text for user configuration instructions.</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Account Registration</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <h3 class="faq-step" color="accent">Step 1 : Click Sign In Button</h3>
      <img class="faq-image" src="./assets/account-registration-1.png" alt="Account Registration Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 2 : Click Register Button</h3>
      <img class="faq-image" src="./assets/account-registration-2.png" alt="Account Registration Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 3 : Fill in Required Information</h3>
      <img class="faq-image" src="./assets/account-registration-3.png" alt="Account Registration Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 4 : Sign In as Normal</h3>
      <br>
      <br>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Reset Password</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <img src="path-to-image" alt="Reset Password Image" />
      <p>Placeholder text for reset password instructions.</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Service Repair Requests</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <img src="path-to-image" alt="Service Repair Image" />
      <p>Placeholder text for reset password instructions.</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Invoice Summary</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <img src="path-to-image" alt="Invoice Summary Image" />
      <p>Placeholder text for Invoice Summary instructions.</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Purchases by Service</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <img src="path-to-image" alt="Purchases By Service Image" />
      <p>Placeholder text for Purchases by Service instructions.</p>
    </div>
  </mat-expansion-panel>
</div>

