<div class="faq-page">
  <h1 color="primary" style="text-align: center; color: #b71c1c; margin-bottom: 2%;">Frequently Asked Questions</h1>


  <!--User Configuration:Delete Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>User Configuration - Delete User</mat-panel-title>
    </mat-expansion-panel-header>
        <div class="faq-item">
          <h3 class="faq-step">Step 1 : Sign In As Administrator [See "Account Registration" for Details]</h3>
          <img class="faq-image" src="./assets/account-registration-1.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 2 : Click "User Management" Tab</h3>
          <img class="faq-image" src="./assets/user-configuration-1.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 3 : Click "Trash" Icon for User you wish to Delete</h3>
          <img class="faq-image" src="./assets/user-configuration-2.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 4 : Confirm Delete [CANNOT BE UNDONE]</h3>
          <img class="faq-image" src="./assets/user-configuration-3.png" alt="User Configuration Image" />
        </div>
  </mat-expansion-panel>

  <!--User Configuration:Edit Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>User Configuration - Edit User</mat-panel-title>
    </mat-expansion-panel-header>
        <div class="faq-item">
          <h3 class="faq-step">Step 1 : Sign In As Administrator [See "Account Registration" for Details]</h3>
          <img class="faq-image" src="./assets/account-registration-1.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 2 : Click "User Management" Tab</h3>
          <img class="faq-image" src="./assets/user-configuration-1.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 3 : Click "Pencil" Icon for User you wish to Edit</h3>
          <img class="faq-image" src="./assets/user-configuration-4.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 4 : Edit User Information as desired and click "Update User"</h3>
          <img class="faq-image" src="./assets/user-configuration-5.png" alt="User Configuration Image" />
        </div>
  </mat-expansion-panel>

 <!--User Configuration:Create New User Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>User Configuration - Create New User</mat-panel-title>
    </mat-expansion-panel-header>
        <div class="faq-item">
          <h3 class="faq-step">Step 1 : Sign In As Administrator [See "Account Registration" for Details]</h3>
          <img class="faq-image" src="./assets/account-registration-1.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 2 : Click "User Management" Tab</h3>
          <img class="faq-image" src="./assets/user-configuration-1.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 3 : Click "Create User" Button</h3>
          <img class="faq-image" src="./assets/user-configuration-6.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 4 : Fill in all Information</h3>
          <img class="faq-image" src="./assets/user-configuration-7.png" alt="User Configuration Image" />
        </div>
        <div class="faq-item">
          <h3 class="faq-step">Step 5 : Click Submit and See Your User Added to the List</h3>
          <img class="faq-image" src="./assets/user-configuration-8.png" alt="User Configuration Image" />
        </div>
  </mat-expansion-panel>

 <!--Account Registration Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Account Registration</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <h3 class="faq-step">Step 1 : Click Sign In Button</h3>
      <img class="faq-image" src="./assets/account-registration-1.png" alt="Account Registration Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 2 : Click Register Button</h3>
      <img class="faq-image" src="./assets/account-registration-2.png" alt="Account Registration Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 3 : Fill in Required Information</h3>
      <img class="faq-image" src="./assets/account-registration-3.png" alt="Account Registration Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 4 : Create Security Questions</h3>
      <img class="faq-image" src="./assets/account-registration-5.png" alt="Account Registration Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 5 : Click Submit and then "Sign In" as normal</h3>
      <img class="faq-image" src="./assets/account-registration-4.png" alt="Account Registration Image" />
    </div>
  </mat-expansion-panel>

 <!--Reset Password Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Reset Password</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <h3 class="faq-step">Step 1 : Click Sign In Button</h3>
      <img class="faq-image" src="./assets/account-registration-1.png" alt="Reset Password Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 2 : Click "Forgot Password"</h3>
      <img class="faq-image" src="./assets/reset-password-1.png" alt="Reset Password Image"/>
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 3 : Enter your email and hit "Submit"</h3>
      <img class="faq-image" src="./assets/reset-password-2.png" alt="Reset Password Image"/>
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 4 : Answer your Security Questions and hit "Submit"</h3>
      <img class="faq-image" src="./assets/reset-password-3.png" alt="Reset Password Image" />
    </div>
    <div class="faq-item">
      <h3 class="faq-step">Step 5 : Enter New password and hit "Submit"</h3>
      <img class="faq-image" src="./assets/reset-password-4.png" alt="Reset Password Image" />
    </div>
  </mat-expansion-panel>

 <!--Service Repair Requests Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Service Repair Requests</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <h3 class="faq-step">Step 1 :</h3>
      <img class="faq-image" src="./assets/placeholder.png" alt="Service Repair Image" />
    </div>
  </mat-expansion-panel>

 <!--Invoice Summary Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Invoice Summary</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <h3 class="faq-step">Step 1 :</h3>
      <img class="faq-image" src="./assets/placeholder.png" alt="Invoice Summary Image" />
    </div>
  </mat-expansion-panel>

 <!--Purchases by Service Requests Drop Down-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Purchases by Service</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="faq-item">
      <h3 class="faq-step">Step 1 :</h3>
      <img class="faq-image" src="./assets/placeholder.png" alt="Purchases By Service Image" />
    </div>
  </mat-expansion-panel>
</div>

