<mat-card>
  <h1 color="primary">Create User</h1>
  <mat-card-content>
    <div class="row col-12 col-6">
      <form [formGroup]="createUserForm"  (ngSubmit)="createUser()">
        <div class="row">
          <mat-form-field class="col-12">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
        </div>
        <div class="row justify-content-around">
          <button mat-raised-button class="col-12 col-md-4" color="primary" type="submit">Create User</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
