<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      <a routerLink="/" class="navbar-brand"><img src="assets/logo.png" height="50"></a>
    </div>
    <span class="toolbar-spacer"></span>
    <div>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/service-management">Services</button>
      <button mat-button routerLink="/employee-directory">Employee Directory</button>
      <button mat-button routerLink="/faq">FAQs</button>


      <ng-container *ngIf="currentUser$ | async as currentUser">
        <button mat-button *ngIf="currentUser.role === 'admin'" routerLink="/user-management">User Management</button>
        <button mat-button *ngIf="currentUser.role === 'standard'" routerLink="/cart">My Cart<mat-icon>shopping_cart</mat-icon></button>
      </ng-container>

      <ng-container *ngIf="(isLoggedIn$ | async) as isLoggedIn; else loggedOut">
        <ng-container *ngIf="currentUser$ | async as currentUser">
          <button mat-button [matMenuTriggerFor]="accountMenu">Hello {{ currentUser.firstName }}</button>
        </ng-container>
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item routerLink="/profile">Profile<mat-icon>account_circle</mat-icon></button>
          <button mat-menu-item (click)="signOut()">Sign Out<mat-icon>logout</mat-icon></button>
        </mat-menu>
      </ng-container>
      <ng-template #loggedOut>
        <button mat-button routerLink="/security/sign-in">Sign In<mat-icon>account_circle</mat-icon></button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

