<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      <a routerLink="/" class="navbar-brand"><img src="assets/logo.png" height="60"></a>
    </div>
    <span class="toolbar-spacer"></span>
    <div>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="#">Services</button>
      <button mat-button routerLink="#">About</button>
      <button mat-button routerLink="/employee-directory">Employee Directory</button>
      <button mat-button routerLink="/faq">FAQs</button>

      <ng-container *ngIf="role$ | async as role">
        <button mat-button *ngIf="role === 'admin'" routerLink="user-management">User Management</button>
      </ng-container>

      <ng-container *ngIf="isLoggedIn$ | async as isLoggedIn">
        <button mat-button *ngIf="isLoggedIn === 'false'" routerLink="/security/sign-in">Sign In<mat-icon>account_circle</mat-icon></button>
        <button mat-button *ngIf="isLoggedIn === 'true'" (click)="signOut()">Sign Out<mat-icon>account_circle</mat-icon></button>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

