<!--
 * Title: purchase-graph.html
 * Author: Group 1 - Trevor McLaurine, William Austin, Tiffany Reyes, Patrick Cuauro
 * Description: Pie chart showing the purchases by service
 * Date: 12/3/2023
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-2">
      <div class="text-center mb-4">
        <h3>Purchases By Service</h3>
        <div class="pie mt-4">
          <p-chart type="pie" [data]="data"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>