<mat-card>
  <mat-card-title class="header">Sign In</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-around">
        <mat-form-field class="col-12 col-md-4">
          <mat-label>Email</mat-label>
          <input matInput placeholder="johnsmith13@example.com" required id="txtEmail" formControlName="email">
          <mat-error *ngIf="signInForm.controls['email'].invalid" style="color: #E65100;">
            {{ getEmailErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-around">
        <mat-form-field class="col-12 col-md-4">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signInForm.controls['password'].invalid" style="color: #E65100;">
            {{ getPasswordErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-around">
        <button mat-raised-button class="col-12 col-md-4" color="primary" type="submit" [disabled]="!signInForm.valid">Submit</button>
      </div>
    </form>
    <div class="redirect-links">
      <a routerLink="/security/reset-password" class="row justify-content-around">Forgot Password</a>
      <a routerLink="/security/register" class="row justify-content-around">Don't have an account? Register here</a>
    </div>
  </mat-card-content>
</mat-card>
