<div *ngIf="invoice" class="invoice">
  <img src="../../assets/logo.png" style="width: 35%;">
  <br><br><br><br>
  <h2 style="text-decoration: underline; color: #b71c1c;">Invoice</h2>
  <p>Name: {{ invoice.firstName }} {{ invoice.lastName }}</p>
  <p>Email: {{ invoice.email }}</p>
  <p>Date: {{ invoice.orderDate | date:'MMMM d, yyyy' }}</p>
  <br><hr>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="price-header">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoice.lineItems">
        <td>{{ item.name }}</td>
        <td class="price-cell">{{ item.price | currency:'USD' }}</td>
      </tr>
    </tbody>
  </table>
  <br><hr>
  <p class="total">Total: {{ invoice.invoiceTotal | currency:'USD' }}</p>
  <br><br>
  <button (click)="printInvoice()">Print</button>
</div>
