.header {
  margin: 2em auto 1em;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #B71C1C;
}

.feature-button {
  padding: 1em;
  margin-bottom: 1em;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

strong {
  margin-right: 5px;
  color: #555;
}
