<mat-card>
  <mat-card-title class="header">Reset Password</mat-card-title>
  <mat-card-content>
    <mat-stepper [linear]="true" #resetPasswordStepper>
      <mat-step [stepControl]="resetForm">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <ng-template matStepLabel>Email</ng-template>
          <div class="row justify-content-around">
            <mat-form-field class="col-12 col-md-4">
              <mat-label>Email</mat-label>
              <input matInput placeholder="johnsmith13@example.com" required id="txtEmail" formControlName="email">
              <mat-error *ngIf="resetForm.controls['email'].invalid" style="color: #E65100;">
                {{ getEmailErrorMessage() }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row justify-content-around">
            <button mat-raised-button class="col-12 col-md-4" color="primary" type="submit" [disabled]="!resetForm.valid">Submit</button>
          </div>
          <div class="row justify-content-around mt-2" *ngIf="apiError !== ''" >
            <span class="col-12 col-md-4" style="color: #E65100; background-color: #FFCCBC;">{{ apiError }}</span>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="questionsForm">
        <form [formGroup]="questionsForm" (ngSubmit)="verifyQuestions()">
          <ng-template matStepLabel>Verify Security Questions</ng-template>
          <div class="row justify-content-around">
            <ng-container *ngFor="let question of questions">
              <mat-form-field class="col-12 col-md-4">
                <mat-label>{{ question.question }}</mat-label>
                <input matInput placeholder="Answer" required formControlName="{{question._id}}">
              </mat-form-field>
            </ng-container>
          </div>
          <div class="row justify-content-around">
            <button mat-raised-button class="col-12 col-md-4" color="primary" type="submit" [disabled]="!questionsForm.valid">Submit</button>
          </div>
          <div class="row justify-content-around mt-2" *ngIf="apiError !== ''" >
            <span class="col-12 col-md-4" style="color: #E65100; background-color: #FFCCBC;">{{ apiError }}</span>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordForm">
        <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
          <ng-template matStepLabel>Change Password</ng-template>
          <div class="row justify-content-around">
            <mat-form-field class="col-12 col-md-4">
              <mat-label>Change Password</mat-label>
              <input matInput required formControlName="password">
              <mat-error *ngIf="passwordForm.controls['password'].invalid" style="color: #E65100;">
                {{ getPasswordErrorMessage() }}
              </mat-error>
              <mat-error *ngIf="apiError !== ''" style="color: #E65100;">
                {{ apiError }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row justify-content-around">
            <button mat-raised-button class="col-12 col-md-4" color="primary" type="submit" [disabled]="!passwordForm.valid">Submit</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
    <div class="redirect-links">
      <a routerLink="/security/sign-in" class="row justify-content-around">Go Back</a>
    </div>
  </mat-card-content>
</mat-card>