<mat-card>
  <mat-card-title class="header">Reset Password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="resetForm">
      <div class="row justify-content-around">
        <mat-form-field class="col-12 col-md-4">
          <mat-label>Email</mat-label>
          <input matInput placeholder="johnsmith13@example.com" required id="txtEmail" formControlName="email">
          <mat-error *ngIf="resetForm.controls['email'].invalid" style="color: #E65100;">
            {{ getEmailErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-around">
        <button mat-raised-button class="col-12 col-md-4" color="primary" type="submit" [disabled]="!resetForm.valid">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>