<mat-card>
  <mat-card-content>
    <div class="row welcome-banner">
      <div class="col-12 col-md-6">
        <img mat-card-image src="assets/home-photo.jpg" style="width: 60%;">
      </div>
      <div class="col-12 col-md-6">
        <div class="text-banner">
          <h1>Bob's Computer Repair Shop</h1>
          <h2>Has your machine been feeling under the weather lately?</h2>
          <h2>Let us take a look and get your computer back on track. Explore our many services and get to know us!</h2>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

