h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 1em;
  color: #B71C1C;
  text-decoration: underline;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  padding: 1em;
  color: #B71C1C;
}

.welcome-banner {
  /* background-color: #FFB300; debating banner*/
  padding: 1em;
}

.text-banner {
  text-align: center;

}

